<div ng-controller="AnnotationsPanelCtrl">
  <div class="small annotations-panel-meta" ng-click="editPanel()">
    Filters: 
      tags:<b>{{panel.graphiteTags || 'disabled'}}</b> 
      types:<b>{{panel.includeTypes.join(', ') || 'disabled'}}</b>
  </div>
  <div class="annotations-wrapper">

    <ul class="annotations-list">
      <li class="annotation" ng-if="!annotations.length">
        No events.
      </li>
      <li ng-repeat="annotation in annotations" class="annotation annotation-type-{{annotation.type}}" ng-class="{long: annotation.isLong, hasData: annotation.data}">
        <div class="title" ng-click="annotationModal(annotation)">{{annotation.title}}</div>

        <div class="message" ng-click="annotationModal(annotation)">{{annotation.message}}</div>
        <div class="time" title="{{annotation.hrTime}}">{{annotation.hrTimeShort}}</div>
        <div class="tags">
          <span class="annotation-tag tag-{{tag}}" ng-repeat="tag in annotation.tagList" style="background: {{tagColor(tag)}}">{{tag}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
<link ng-non-bindable rel="stylesheet" href="plugins/annotations.panel/annotations.panel.css">
