<div ng-controller="AnnotationsPanelCtrl">
  <div class="annotations-wrapper">
    <ul class="annotations-list">
      <li ng-repeat="annotation in annotations" class="annotation {{annotation.type}}" ng-class="{long: annotation.isLong}">
        <span class="time" title="{{annotation.hrTime}}">{{annotation.hrTimeShort}}</span>
        <span class="title" ng-click="annotationModal(annotation)" config-modal="plugins/annotations.panel/annotation-modal.html">{{annotation.title}}</span>
        <span class="text" ng-click="annotationModal(annotation)" config-modal="plugins/annotations.panel/annotation-modal.html">{{annotation.text}}</span>
        <span class="tags">{{annotation.tags}}</span>
        <a class="event-link" target="_blank" href="http://graphite.rxs.sp2o.org/events/{{annotation.eventId}}/"><span class="link-icon"></span></a>
      </li>
    </ul>
  </div>
</div>
<link ng-non-bindable rel="stylesheet" href="plugins/annotations.panel/annotations.panel.css">
