<div class="editor-row">
  <div class="section">
    <h5>Include only these types</h5>
    <div class="editor-option" ng-if="panel.includableTypes.length">
      <label class="small">Select types to include. Unselect all to include all.</label><select class="input-large" ng-model="panel.includeTypes" ng-options="t for t in panel.includableTypes" multiple ng-multiple="true"></select>
    </div>
    <div class="editor-option" ng-if="!panel.includableTypes.length">
      No types defined. See plugins/annotations.panel/config.js.
    </div>
  </div>
</div>
